@font-face{
  font-family: 'ARLRDBD';
  font-display: swap;
  src: url('../font/ARLRDBD.TTF') format("truetype");
}
/* @font-face{
  font-family: 'COOPBL';
  font-display: swap;
  src: url('../font/COOPBL.TTF') format("truetype");
} */
body {
  font-family: 'ARLRDBD';
}
